.table {
  width: 100%;
  border-spacing: 0px;
}

th {
  text-align: left;
}

.heading {
  display: flex;
  justify-content: center;
}

.table-head {
  background-color: rgb(10, 187, 105);
}

.head-cell {
  color: white;
  padding: 5px;
}

.row-cell {
  border-bottom: 1px rgb(209, 209, 209) solid;
  padding: 5px;
}

.btn {
  background-color: rgb(10, 187, 105);
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: 600;
}

.pagination {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
  color: white;
  font-weight: 600;
}
